.block-section {
  padding: 10px 20px;
  .block-title {
    color: $color-2;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  a {
    position: relative;
  }
  .collection-item {
    margin-bottom: 20px;
    .content-item {
      color: #ffffff;
      overflow: hidden;
      position: inherit;
      min-height: 200px;
      padding: 10px 10px;
      border-radius: 3px;
      background-size: cover !important;
      .header-collection-item {
        .user-profile-img {
          width: 30px;
          height: 30px;
          overflow: hidden;
          border-radius: 50%;
          border: solid 2px #ffffff;
          img {
            width: 100%;
          }
        }
      }
      .footer-collection-item {
        left: 0;
        right: 0;
        bottom: -15%;
        position: absolute;
        transition-duration: 0.5s;
        background: $linear-gradient-opacity;
        .footer-content-item {
          padding: 10px;
          h4 {
            font-weight: 500;
            margin-bottom: 7px;
          }
          p {
            overflow: hidden;
            max-height: 64px;
            line-height: 16px;
            font-size: 0.8em;
          }
        }
        &:hover {
          bottom: 0;
        }
      }
    }
  }
}