#header-home {
  .nav-bar {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border: none;
    border-radius: 0;
    position: absolute;
    background: $headerNav;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    .container {
      max-width: 100%;
      .topbar-logo {
        /*
        display: block;
        float: left;
        height: 80px;
        padding-top: 30px;*/
        position: absolute;
        left: 16px;
        top: 38%;
        z-index: 3;
        color: $color-1;
        font-size: 1.50em;
        font-weight: 700;
      }
      .topbar-search {
        display: block;
        // float: left;
        padding-top: 18px;
        text-align: center;
        .input {
          .search-input {
            width: 350px;
            border-top-left-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
          }
          .button {
            color: #FFFFFF;
            font-size: 0.9em;
            padding: 0px 1.5em 0px 1.5em;
            background: $linear-gradient;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
          }
        }
      }
      .topbar-right {
        /*
        display: block;
        float: right;
        padding-top: 23px;*/
        position: absolute;
        right: 16px;
        top: 31%;
        .topbar-avatar {
          .btn-avatar {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            .img-shadow {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              overflow: hidden;
              background: #f6f7fb;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}