#header-home {
  /** Header navbar **/
  .main-navbar {
    min-height: 80px;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  }
  @media screen and (max-width: 575px) {
    .main-navbar {
      display: none;
    }
  }
  /** Mobile navbar **/
  .mobile-navbar {
    position: relative;
    .nav-block-left {
      position: absolute !important;
      // top: 5px;
      top: 20px;
      font-size: 14px;
      .link-btn {
        float: left;
      }
    }
    .btn-nav-toogle {
      top: 20px;
      right: 20px;
      display: block;
      position: absolute;
    }
    .mobile-nav-block {
      right: -275px;
      width: 275px;
      height: 100%;
      position: fixed;
      overflow-y: auto;
      z-index: 110;
      background: #ffffff;
      padding: 8px 20px 20px;
      transition: all 0.6s ease 0s;
      border-left: 1px solid #e1e1e1;
      -webkit-overflow-scrolling: touch;
    }
    .open-mobile-nav {
      right: 0;
    }
  }
  @media screen and (min-width: 575px) {
    .mobile-navbar {
      display: none;
    }
  }
}