/* Body */
$body-bg: #ffffff;

/* Typography */
$font-family-sans-serif: "Roboto", Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

/* Colors */
$color-0: #9c28b1;
$color-1: #7c21ff;
$color-2: #303030;
$color-3: #888888;
$color-4: #c5c6cb;

$headerNav: #ffffff;

/* gradient color */
$linear-gradient: linear-gradient(-0.25turn, rgb(124,33,255), rgb(156,40,177));
$linear-gradient-opacity: linear-gradient(to top, #7c21ff, #9c28b100);