#page-container {
  margin-top: 35px;
  .row {
    #profileContent {
      .header-profile-content {
        display: flex;
        justify-content: space-around;
        .left-content {
          margin-right: 20px;
          .profile-image {
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
            }
          }
        }
        .right-content {
          padding-top: 10px;
          h3 {
            float: left;
            color: $color-2;
            font-weight: 600;
            font-size: 1.875em;
            display: inline-block;
          }
          .follow-btn {
            float: right;
            color: $color-1;
            cursor: pointer;
            margin-top: 5px;
            background: none;
            padding: 7px 20px;
            font-size: 0.813em;
            border-radius: 50px;
            border: solid 1px $color-1;
            &:hover {
              color: #ffffff;
              transition-duration: 0.5s;
              background: $linear-gradient;
            }
          }
          .active-follow {
            color: #ffffff;
            background: $linear-gradient;
          }
          p {
            float: left;
            width: 100%;
            display: block;
            color: $color-3;
            margin-top: 7px;
            line-height: 24px;
            font-size: 0.875em;
          }
        }
      }
      .flat-tab-content {
        padding: 25px 0px;
        .nav-item {
          padding: 0px 15px;
          a {
            color: $color-2;
            font-size: 0.875em;
            text-decoration: none;
            &:hover {
              color: $color-1;
              transition-duration: 0.5s;
            }
          }
        }
      }
      @import "../3-blocks/timeline";
    }
  }
}